<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Practice_WebApp_MVC_Venkat_TT</title>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Practice_WebApp_MVC_Venkat_TT.styles.css" asp-append-version="true" />
</head>
<body>
    <header>

        <div class="container" >
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <ul class="navbar-nav">

                    <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                        <img src="~/Images/MPC_Icons.png" height="30" width="30"/>
                    </a>

                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <li class="nav-item flex-grow-1">  
                        <a asp-controller="Home" asp-action="Index" class="nav-link" style="color:blue">List of Employees</a>
                    </li>

                    <li class="nav-item flex-grow-1">
                        <a asp-controller="Home" asp-action="AddEmployeeDetails" class="nav-link" style="color:blue">Create Employees</a>
                    </li>
                </ul>
            </nav>
            <div>
                @RenderBody()
            </div>
        </div>



    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Practice_WebApp_MVC_Venkat_TT - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    </environment>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
