<h3>
    An Error occured while processing the request.
    The suport team is working on it to fix the Issue
</h3>

<h5>Please contact us on poornamora123@gmail.com</h5>

<div class="alert alert-danger">
    <h5>Exception Message</h5>
    <br/>
    <p>@ViewBag.ExceptionMessage</p>
</div>

<div class="alert alert-danger">
    <h5>Exception Path</h5>
    <br />
    <p>@ViewBag.ExeceptionPath</p>
</div>

<div class="alert alert-danger">
    <h5>Exception ExceptionStacktrace</h5>
    <br />
    <p>@ViewBag.ExceptionStacktrace</p>
</div>